html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-control-password {
  width: 100% !important;
}

.form-floating {
  position: relative;
}

.form-floating button {
  position: absolute;
  top: 57% !important;
  right: 3px !important;
  transform: translateY(-50%);
  border: none;
  background-color: white;
  /* Agrega esta línea para eliminar el borde */
}

.box-eye button {
  border: none;
  position: absolute;
}

.changePassword {
  top: 15px;
  left: 310px;
  color: rgb(27, 26, 26);
  cursor: pointer;
}


